<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<body>

<!-- MESSAGE -->
<th:block th:fragment="message">
	<script th:inline="javascript">
		$.notify({
			icon: [[${message.type.icon}]],
			title: [[${message.type.colour}]],
			message: [[${message.message}]],
		}, {
			type: [[${message.type.name}]],
			newest_on_top: true,
			icon_type: 'class',
			template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
				'<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
				'<div class="bg-{1} alert-icon"><i data-notify="icon"></i></div>' +
				'<div class="alert-content pad10T"><p data-notify="message"><strong>{2}</strong></p></div>' +
				'</div>' +
				'</div>'
		});
	</script>
</th:block>

<!-- JS UTILS -->
<th:block th:fragment="jsForms(form)">
	<script th:inline="javascript">
		$("input[type='checkbox'].selectAll").click(function () {
			var el = $(this);
			$("input[name='" + el.data("list") + "']").each(function() {
				$(this).prop('checked', el.prop('checked'));
			});
		});

		(function($){
			var $form = $('#' + [[${form}]]);
			$form.on('submit', function(e) {
				e.preventDefault();
				$.ajax({
					url: $form.attr('action'),
					type: 'post',
					data: $form.serialize(),
					success: function(res) {
						console.log(res);
						$(".container").html(res);
					}
				});
			})
		}(jQuery));
	</script>
</th:block>

</body>
</html>