<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<meta charset="UTF-8">
		<!--[if IE]>
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<title> URL Shortner </title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/assets/bootstrap/css/bootstrap.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/assets/helpers/spacing.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/url.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/assets/icons/fontawesome/fontawesome.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/assets/icons/elusive/elusive.css}">
	</head>
</head>
<body>
<div>
	<div id="page-wrapper">
		<div id="page-content-wrapper">
			<div id="page-content">
				<div class="container">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">URL List</h3>
						</div>
						<div class="panel-body">
							<form id="formSearch" class="form-horizontal bordered-row" th:action="@{/list}" th:object="${url}" method="post">
								<div class="bg-default content-box text-left pad10A">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="col-sm-3 control-label">Id</label>
												<div class="col-sm-2">
													<input type="number" class="form-control" th:field="*{id}">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-3 control-label">Friendly Name</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" th:field="*{friendlyName}">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="col-sm-1 control-label"></label>
												<div class="col-md-11">
													<div class="col-md-6 pad45L">
														<button class="btn btn-primary">Search</button>
													</div>
													<div class="col-md-6 pad0R">
														<a class="btn btn-success btn-new-align" th:href="@{/new}">New</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
							<form id="formDelete" class="form-horizontal bordered-row" th:action="@{/delete}" method="post">
								<div class="bg-default content-box text-left pad10A">
									<div class="hide-columns">
										<table class="table table-bordered table-striped table-condensed">
											<thead>
											<tr>
												<th class="tools-col">
													<input type="checkbox" class="selectAll" data-list="urlList">
												</th>
												<th>Id</th>
												<th>URL</th>
												<th>Friendly Name</th>
											</tr>
											</thead>
											<tbody>
											<tr th:each="u : ${list}">
												<td>
													<div class="form-inline">
														<div class="center-div">
															<input type="checkbox" name="urlList" th:value="${u.id}">
															<a class="btn btn-info btn-xs" th:href="@{/edit/}+${u.id}"><i class="glyph-icon icon-elusive-pencil"></i></a>
														</div>
													</div>
												</td>
												<td th:text="${u.id}"></td>
												<td th:text="${u.url}"></td>
												<td th:text="${u.friendlyName}"></td>
											</tr>
											</tbody>
										</table>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<button class="btn btn-danger mrg15L">Delete</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<script type="text/javascript" th:src="@{/assets/js-core/jquery-core.js}"></script>
					<script type="text/javascript" th:src="@{/assets/widgets/notify/bootstrap-notify.min.js}"></script>
					<th:block th:if="${message != null}" th:include="fragments/App :: message"></th:block>
					<th:block th:include="fragments/App :: jsForms('formSearch')"></th:block>
					<th:block th:include="fragments/App :: jsForms('formDelete')"></th:block>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- JS -->
<script type="text/javascript" th:src="@{/assets/bootstrap/js/bootstrap.js}"></script>

</body>
</html>